body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#00fbff,#004cff);
}

.card:hover {
    background-color: #f0f0f0; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
    transform: translateY(-5px); 
    cursor: pointer;
}

.card {
    width: 300px;
    border: 2px solid #333;
    border-radius: 20px;
    text-align: center;
    background: white;
    padding: 10px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 8px 8px;
}

.photo img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

.details {
    margin-top: 10px;
    text-align: left;
    padding: 0 10px;
     margin: 0 auto;
}

.footer {
    font-size: 12px;
    margin-top: 10px;
    color: gray;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 8px ;
     margin: 0 auto;
}